 <div class="swiper-container">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="swiper-slide--item">
          <a style="color: unset; cursor: pointer">
            <div class="swiper-slide--product-cart">
              <div class="swiper-slide--product-item">
                <div class="swiper-slide--product-item-heading">
                  <div class="product-item-heading__img">
                    <div height="100%" class="product-item-heading__img__item">
                      <img [src]="image" alt="">
                    </div>
                  </div>
                  <div class="product-item-heading__save">
                    <div class="product-item-heading__save__item">
                      <div class="title-save">
                        TIẾT KIỆM
                      </div>
                      <div class="title-price">
                        191.000&nbsp;
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide--product-item-title">
                  <div class="swiper-slide--product-item-title--text">
                    {{name | truncate}}
                  </div>
                </div>
                <div class="swiper-slide--product-item-price">
                  <div class="swiper-slide--product-item-price--text">
                    <div class="subtitle">
                      {{price | currency: "AUD" : "$AUD "}}&nbsp;
                    </div>
                    <div class="save">
                      <p>{{990 | currency: "AUD" : "$AUD "}}&nbsp;</p>
                      <p>-{{sale}}%</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

  </div>
</div>
