<header class="header">
  <div class="header__banner">
    <img class="header__banner-img"
      src="https://lh3.googleusercontent.com/7QWRyS6YRaxrLXIEeoTDrW45gT79bwkXsL6YkWy5W1H163fl-fFONtqqEyDTRQGmOb9ldNYfyFUht34miPDRwmvfQS2Kvlk4=w1920-rw"
      alt="banner">

  </div>
  <div class="header__help">
    <div class="container" style="
    display: flex;
">
      <div class="header__help-content"></div>
      <div class="header__help-content">
        <a href="" class="header__help-item"><button class="header__help-btn">
            <img src="../../../assets/img/building.svg" alt="">
            <div class="header__help-title">Showroom system</div>
          </button></a>
        <a href="" class="header__help-item"><button class="header__help-btn">
            <img src="./../../assets/img/headphone.svg" alt="">
            <div class="header__help-title">Shopping Advice: <span class="highlight">&nbsp;1800 6867</span>
            </div>

          </button></a>
        <a href="" class="header__help-item"><button class="header__help-btn">
            <img src="./../../assets/img/headphone.svg" alt="">
            <div class="header__help-title">Custom Service: <span class="highlight">&nbsp;1800 6867</span></div>

          </button></a>
        <a href="" class="header__help-item"><button class="header__help-btn">
            <img src="./../../assets/img/news.svg" alt="">
            <div class="header__help-title">Tech news</div>

          </button></a>
        <a href="" class="header__help-item"><button class="header__help-btn">
            <img src="./../../assets/img/wrench.svg" alt="">
            <div class="header__help-title">Build configuration</div>
          </button></a>
      </div>
    </div>
  </div>
  <div class="header__navigationBar">
    <div class="container">
      <div class="header__navigationBar-content">
        <div class="header__navigationBar-wrapper" style="padding-left:8px;padding-right:8px">
          <div class="header__navigationBar-logo">
            <a href="">
              <img src="https://phongvu.vn/phongvu/logo-full.svg" alt="">
            </a>
          </div>
        </div>
        <div class="header__navigationBar-wrapper" style="padding-left:8px;padding-right:8px;flex:auto;">
          <div class="header__navigationBar-search">
            <input type="text"  placeholder="Enter keywords...">
            <button>
              <img src="./../../assets/img/search.svg" alt="">
            </button>
          </div>
        </div>
        <div class="header__navigationBar-wrapper" style="padding-left:8px;padding-right:8px">
          <a>
            <div class="header__navigationBar-voucher">
              <img src="./../../assets/img/voucher.svg" alt="">
              <span class="title">Promotion</span>
            </div>
          </a>
        </div>
        <div class="header__navigationBar-wrapper" style="padding-left:8px;padding-right:8px">
          <a>
            <div class="header__navigationBar-voucher">
              <img src="./../../assets/img/order.svg" alt="">
              <span class="title">Order</span>
            </div>
          </a>
        </div>
        <div class="header__navigationBar-wrapper" style="padding-left:8px;padding-right:8px">
          <a>
            <div class="header__navigationBar-voucher">
              <img src="./../../assets/img/avatar_user.svg" alt="">
              <span class="title">Login</span>
            </div>
          </a>
        </div>
        <div class="header__navigationBar-wrapper" style="padding-left:8px;padding-right:8px">
          <a>
            <div class="header__navigationBar-voucher">
              <img src="./../../assets/img/notify.svg" alt="">
              <span class="title">Notify</span>
            </div>
          </a>
        </div>
        <div class="header__navigationBar-wrapper" style="padding-left:8px;padding-right:8px">
          <a>
            <div class="header__navigationBar-voucher">
              <img src="./../../assets/img/cart.svg" alt="">
              <span class="title">Cart</span>
              <div class="number_cart">
                <div class="cart_point">1</div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
