<!-- This is index{{index}} -->

<div class="sidebar__menu-sub">
  <div class="sidebar__menu-sub-content">
    <div class="sidebar__menu-sub-item">
      <div class="sidebar__menu-sub-title">

        <h3>Laptops by brand</h3>
      </div>
      <a href="">Apple</a>
      <a href="">Acer</a>
      <a href="">ASUS</a>
      <a href="">Dell</a>
      <a href="">HP</a>
    </div>

    <div class="sidebar__menu-sub-item">
      <div class="sidebar__menu-sub-title">
        <h3>Laptops by brand</h3>
      </div>
      <a href="">Apple</a>
      <a href="">Acer</a>
      <a href="">ASUS</a>
      <a href="">Dell</a>
      <a href="">HP</a>
    </div>

  </div>
  <div class="sidebar__menu-sub-content">
    <div class="sidebar__menu-sub-item">
      <div class="sidebar__menu-sub-title">
        <h3>Laptop by chip configuration</h3>
      </div>
      <a href="">Intel Pentium/Celeron</a>
      <a href="">Intel Core i3</a>
      <a href="">Intel Core i5</a>
      <a href="">Intel Core i7</a>
      <a href="">Intel Core i9</a>
    </div>



  </div>
  <div class="sidebar__menu-sub-content">
    <div class="sidebar__menu-sub-item">
      <div class="sidebar__menu-sub-title">
        <h3>Laptop on demand</h3>
      </div>
      <a href="">Gaming Laptop </a>
      <a href="">Graphics laptop</a>
      <a href="">Laptop 2 in 1</a>
      <a href="">Student Laptop - Office</a>

    </div>



  </div>
  <div class="sidebar__menu-sub-content">
    <div class="sidebar__menu-sub-item">
      <div class="sidebar__menu-sub-title">
        <h3>Laptops by price</h3>
      </div>
      <a href="">Under 10 million</a>
      <a href="">10 - 15 million</a>
      <a href="">15 - 20 million</a>
      <a href="">20 - 25 million</a>

    </div>


  </div>

  <div class="sidebar__menu-sub-img">
    <img
      src="https://lh3.googleusercontent.com/y4kpxIlU8A2j_6m2q1-l8eY4_sxHxJQRSGDzUYmibef7COnKQ-W2RogsoZY_diXBhLYCEZl4cFRd_Jr_V8eFjc4aFUa9yMQ=rw-w400"
      alt="">
  </div>
</div>
