
.cart__wrapper {
    &-breadcrumbs {
      white-space: nowrap;
      display: flex;
      margin: 1rem 0px;
      .breadcrumbs-icon {
        height: 32px;
        width: fit-content;
        -webkit-box-align: center;
        align-items: center;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        white-space: nowrap;
        margin-right: 10px;
        &--link {
          margin-right: 10px;
          cursor: pointer;
          overflow: hidden;
          line-height: 1rem;
          display: inline-flex;
          -webkit-box-align: center;
          align-items: center;
          -webkit-box-pack: center;
          justify-content: center;
          text-align: center;
          user-select: none;
          flex-direction: row;
          position: relative;
          padding: 8px;
          color: rgb(51, 51, 51);
          text-decoration: none;
          background-color: rgb(255, 255, 255);
          pointer-events: auto;
          border: 1px solid rgb(224, 224, 224);
          border-radius: 9999px;
          img {
            width: 16px;
            height: 16px;
            display: inline-block;
          }
        }
      }
      .breadcrumbs-name {
        height: 32px;
        width: fit-content;
        -webkit-box-align: center;
        align-items: center;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        white-space: nowrap;
        a {
          cursor: pointer;
          overflow: hidden;
          line-height: 1rem;
          display: inline-flex;
          -webkit-box-align: center;
          align-items: center;
          -webkit-box-pack: center;
          justify-content: center;
          text-align: center;
          user-select: none;
          flex-direction: row;
          position: relative;
          padding: 8px;
          color: #333333;
          text-decoration: none;
          background-color: rgb(255, 255, 255);
          pointer-events: none;
          border: 1px solid rgb(224, 224, 224);
          border-radius: 9999px;
        }
      }
    }
  }
