<section class="device">
  <div class="container">
    <div class="device__wrapper">
      <div class="device__wrapper--left">
        <div class="device__wrapper--left-content">
          <div class="device__wrapper--left-header">
            <div class="device__wrapper--left-title">CATEGORIES</div>
            <a class="device__wrapper--left-link" href="#">
              <!-- <div class="device__wrapper--left-all">Xem tất cả <img src="./public/img/arrow-right.svg" alt=""></div> -->
              <span style=" font-weight: 400;" class="device__wrapper--left-all">View all <svg fill="none"
                  viewBox="0 0 24 24" class="css-ymxljd" color="white" height="1em" width="1em"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.49976 19.0001L15.4998 12.0001L8.49976 5.00012" stroke="#e1e1e1" stroke-width="1.5"
                    stroke-linecap="round" stroke-linejoin="round"></path>
                </svg></span>
            </a>
          </div>
          <div class="device__wrapper--left-body">
            <div class="device__wrapper--left-body-left">
              <a class="device__wrapper--left-body-link" href="#">
                <div class="device__wrapper--left-body-img">
                  <img
                    src="https://lh3.googleusercontent.com/Gc9z_P0lY-0fDemLmqiYt2U7uD6meaQbcsRj0LG6O6a9keMfQZlvodVv8KKAP6U7UVUPpkzmFUfkmMIJIhultS8NnuutrIm-=rw-w400"
                    alt="">
                </div>
              </a>
            </div>
            <div class="device__wrapper--left-body-right">
              <div class="device__wrapper--left-body-right-card">
                <a class="device__wrapper--right-body-link" href="#" *ngFor="let item of category ">
                  <div class="device__wrapper--right-body-wrap">
                    <div class="device__wrapper--right-body-title">
                      {{item.name}}
                    </div>
                    <div class="device__wrapper--right-body-text">
                      {{item.description}}
                    </div>
                    <div class="device__wrapper--right-body-img">
                      <div class="device__wrapper--right-body-img__item">
                        <img [src]="item.image" alt="">
                      </div>
                    </div>
                  </div>
                </a>
                <!-- <a class="device__wrapper--right-body-link" href="#">
                  <div class="device__wrapper--right-body-wrap">
                    <div class="device__wrapper--right-body-title">
                      Chuột Gaming
                    </div>
                    <div class="device__wrapper--right-body-text">
                      Tốc độ chuyên nghiệp, giảm ngay tới 45%
                    </div>
                    <div class="device__wrapper--right-body-img">
                      <img
                        src="https://lh3.googleusercontent.com/9VuDtVTE_RvRusFv4YCxFwhZ9XSMbmKqgtHoOy73THsg1uJahr0vp2qOZ2mtR2op0rOUUS1hUtmKPgXwp8jK9AgTiHYgbK9zyg=rw-w300"
                        alt="">
                    </div>
                  </div>
                </a>
                <a class="device__wrapper--right-body-link" href="#">
                  <div class="device__wrapper--right-body-wrap">
                    <div class="device__wrapper--right-body-title">
                      Chuột Gaming
                    </div>
                    <div class="device__wrapper--right-body-text">
                      Tốc độ chuyên nghiệp, giảm ngay tới 45%
                    </div>
                    <div class="device__wrapper--right-body-img">
                      <img
                        src="https://lh3.googleusercontent.com/9VuDtVTE_RvRusFv4YCxFwhZ9XSMbmKqgtHoOy73THsg1uJahr0vp2qOZ2mtR2op0rOUUS1hUtmKPgXwp8jK9AgTiHYgbK9zyg=rw-w300"
                        alt="">
                    </div>
                  </div>
                </a>
                <a class="device__wrapper--right-body-link" href="#">
                  <div class="device__wrapper--right-body-wrap">
                    <div class="device__wrapper--right-body-title">
                      Chuột Gaming
                    </div>
                    <div class="device__wrapper--right-body-text">
                      Tốc độ chuyên nghiệp, giảm ngay tới 45%
                    </div>
                    <div class="device__wrapper--right-body-img">
                      <img
                        src="https://lh3.googleusercontent.com/9VuDtVTE_RvRusFv4YCxFwhZ9XSMbmKqgtHoOy73THsg1uJahr0vp2qOZ2mtR2op0rOUUS1hUtmKPgXwp8jK9AgTiHYgbK9zyg=rw-w300"
                        alt="">
                    </div>
                  </div>
                </a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="device__wrapper--left">
        <div class="device__wrapper--left-content">
          <div class="device__wrapper--left-header">
            <div class="device__wrapper--left-title">TV - ELECTRICAL - HOUSEHOLD</div>
            <a class="device__wrapper--left-link" href="#">
              <span style=" font-weight: 400;" class="device__wrapper--left-all">View all <svg fill="none"
                  viewBox="0 0 24 24" class="css-ymxljd" color="white" height="1em" width="1em"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.49976 19.0001L15.4998 12.0001L8.49976 5.00012" stroke="#82869e" stroke-width="1.5"
                    stroke-linecap="round" stroke-linejoin="round"></path>
                </svg></span>

            </a>
          </div>
          <div class="device__wrapper--left-body">
            <div class="device__wrapper--left-body-left">
              <a class="device__wrapper--left-body-link" href="#">
                <div class="device__wrapper--left-body-img">
                  <img
                    src="https://lh3.googleusercontent.com/p1__OgN1GgjPysBrNkZJRmEZIMwtfRi6qwqVaSPX7wIJmvHI7b2Ol3gTCyR8CBDZ0ybmtfG2XoYWCsMZfKjflxwjKFuX8fhe9A=rw-w400"
                    alt="">
                </div>
              </a>
            </div>
            <div class="device__wrapper--left-body-right">
              <div class="device__wrapper--left-body-right-card">
                <a class="device__wrapper--right-body-link" href="#">
                  <div class="device__wrapper--right-body-wrap">
                    <div class="device__wrapper--right-body-title">
                      Chuột Gaming
                    </div>
                    <div class="device__wrapper--right-body-text">
                      Tốc độ chuyên nghiệp, giảm ngay tới 45%
                    </div>
                    <div class="device__wrapper--right-body-img">
                      <img
                        src="https://lh3.googleusercontent.com/9VuDtVTE_RvRusFv4YCxFwhZ9XSMbmKqgtHoOy73THsg1uJahr0vp2qOZ2mtR2op0rOUUS1hUtmKPgXwp8jK9AgTiHYgbK9zyg=rw-w300"
                        alt="">
                    </div>
                  </div>
                </a>
                <a class="device__wrapper--right-body-link" href="#">
                  <div class="device__wrapper--right-body-wrap">
                    <div class="device__wrapper--right-body-title">
                      Chuột Gaming
                    </div>
                    <div class="device__wrapper--right-body-text">
                      Tốc độ chuyên nghiệp, giảm ngay tới 45%
                    </div>
                    <div class="device__wrapper--right-body-img">
                      <img
                        src="https://lh3.googleusercontent.com/9VuDtVTE_RvRusFv4YCxFwhZ9XSMbmKqgtHoOy73THsg1uJahr0vp2qOZ2mtR2op0rOUUS1hUtmKPgXwp8jK9AgTiHYgbK9zyg=rw-w300"
                        alt="">
                    </div>
                  </div>
                </a>
                <a class="device__wrapper--right-body-link" href="#">
                  <div class="device__wrapper--right-body-wrap">
                    <div class="device__wrapper--right-body-title">
                      Chuột Gaming
                    </div>
                    <div class="device__wrapper--right-body-text">
                      Tốc độ chuyên nghiệp, giảm ngay tới 45%
                    </div>
                    <div class="device__wrapper--right-body-img">
                      <img
                        src="https://lh3.googleusercontent.com/9VuDtVTE_RvRusFv4YCxFwhZ9XSMbmKqgtHoOy73THsg1uJahr0vp2qOZ2mtR2op0rOUUS1hUtmKPgXwp8jK9AgTiHYgbK9zyg=rw-w300"
                        alt="">
                    </div>
                  </div>
                </a>
                <a class="device__wrapper--right-body-link" href="#">
                  <div class="device__wrapper--right-body-wrap">
                    <div class="device__wrapper--right-body-title">
                      Chuột Gaming
                    </div>
                    <div class="device__wrapper--right-body-text">
                      Tốc độ chuyên nghiệp, giảm ngay tới 45%
                    </div>
                    <div class="device__wrapper--right-body-img">
                      <img
                        src="https://lh3.googleusercontent.com/9VuDtVTE_RvRusFv4YCxFwhZ9XSMbmKqgtHoOy73THsg1uJahr0vp2qOZ2mtR2op0rOUUS1hUtmKPgXwp8jK9AgTiHYgbK9zyg=rw-w300"
                        alt="">
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
    <div class="device_banner">
      <div class="device_banner-img">
        <a href="" class="device_banner-link"><img src="../../../../assets/img/sinhnhat.webp" alt=""></a>
      </div>
      <div class="device_banner-img">
        <a href="" class="device_banner-link"><img src="../../../../assets/img/gaming_gear.webp" alt=""></a>
      </div>
      <div class="device_banner-img">
        <a href="" class="device_banner-link"><img src="../../../../assets/img/mayin.webp" alt=""></a>
      </div>
    </div>
  </div>
</section>
