<section class="login">
  <!-- <h5>Welcome to PhongVu.vn | Laptop, PC, Monitor, phone, Genuine parts!</h5> -->
  <form id="loginForm" class="login__form" (ngSubmit)="login()" [formGroup]="loginForm">
    <h1 class="login__form__title">LOGIN</h1>
    <div class="login__form__input form-group">
      <label for="username">Username<span class="text-danger"> * </span><span style="font-size: 12px;"
          class="text-danger" *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched ">
          Required </span></label>
      <input id="username" type="text" formControlName="username" name="username" placeholder="Type your username...">

    </div>
    <div class="login__form__input form-group ">
      <label for="password">Password<span class="text-danger"> * </span>
        <span class="text-danger " style="font-size: 12px;"
          *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched ">
          Required </span>
      </label>
      <input id="password" type="password" formControlName="password" name="password"
        placeholder="Type your password...">
    </div>
    <input type="submit" name="btn-login" class="btn btn--primary" value="Login" style="padding:13px 0"
      [disabled]="!loginForm.valid">
 <div style="margin-left:auto; margin-top: 10px; text-align:center; width:100%">You dont't have an account?
       <a [routerLink]="['/register']" routerLinkActive="router-link-active"  style="font-weight: bold; color: blue; margin-left: 5px; cursor:pointer">Register</a>
      </div>

  </form>
</section>
