<section class="cart">
  <div class="container">
    <div class="cart__wrapper">
      <div class="cart__wrapper-content">
        <div class="cart__wrapper-content--main">
          <div class="cart__wrapper-content-left">
            <div class="cart__wrapper-content--box">
              <div class="box__content">
                <h4 style="font-weight: 500;">Delivery information</h4>
                <div class="address">
                  <!-- (click)="changeAddress(item._id) -->
                  <div class="address__detail " *ngFor="let item of allAddress; index as i" (click)="changeAddressChosed(i)" >
                    <p class="address__detail-name">{{item.fullName}}</p>
                    <p>{{item.address + ", " + item.ward + ", " + item.district + ", " + item.city}}</p>
                    <p>{{item.phone}}</p>
                    <div [style.display]="addressIsChoose === i ? '' :'none'">
                        <div class="border__checked"></div>
                        <span class="checked">✓</span>
                    </div>

                  </div>
                  <div class="address__detail" (click)="openDialog()">
                    <div class="address__detail-add">
                      <i class="fa-solid fa-plus"></i>
                      <p>Add address</p>
                    </div>
                  </div>

                </div>

                <div class="delivery__info">
                  <h4 style="font-weight: 500;padding: 10px 0 0 0">Delivery Method</h4>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="" id="" value="checkedValue" checked>
                      Standard delivery
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cart__wrapper-content-left">
            <div class="cart__wrapper-content--box">
              <div class="box__content">

                <div class="delivery__info">
                  <h4 style="font-weight: 500;">Payment Method</h4>
                  <div class="form-check payment">

                      <div class="address__detail">
                        <p style="font-weight: 600;">Payment via Stripe</p>
                        <p>Payment via Internet Banking, Visa, Master, JCB, VNPAY-QR</p>
                        <div class="border__checked"></div>
                        <span class="checked">✓</span>
                      </div>
                      <div class="address__detail" (click)="openMedthod()">
                        <div class="address__detail-add">
                          <i class="fa-solid fa-plus"></i>
                          <p>Add Method</p>
                        </div>
                      </div>
                      <!-- <input type="radio" class="form-check-input" name="" id="" value="checkedValue" checked>
                      Payment via Stripe -->
                    <!-- </label> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cart__wrapper-content--right">
          <div class="cart__wrapper-content--info">
            <h4>Order Info</h4>
            <div class="info-voucher" *ngFor="let item of cartList">
              <div class="info-text"><img [src]="item.image" alt="" style="width: 80px;height: 80px;"></div>
              <div class="info-product">
                <p>{{item.name}}</p>
                <p>Quantity: {{item.quantity}}</p>
                <p style="font-weight: 500">{{item.price | currency: "AUD" : "$AUD "}}</p>
              </div>

            </div>

          </div>
          <div class="cart__wrapper-content--payment">
            <div class="cart__wrapper-content--info">
              <h4>Payment</h4>
              <div class="info-payment">
                <table class="payment-tab">
                  <tbody>
                    <tr>
                      <td>Provisional </td>
                      <td><span>{{getTotalPrice() | currency: "AUD" : "$AUD "}}</span></td>
                    </tr>
                    <tr>
                      <td>Transport fee </td>
                      <td><span>FREE</span></td>
                    </tr>
                    <tr>
                      <td>Total </td>
                      <td><span style="color:red;font-size:18px;font-weight: 500;">{{getTotalPrice() | currency: "AUD" :
                          "$AUD "}}</span></td>
                    </tr>
                  </tbody>
                </table>
                <div class="VAT">(VAT included)</div>
              </div>
              <button (click)="openCheckout()" class="continue">CHECKOUT</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
