<section class="order">
  <div class="container">
    <div class="cart__wrapper-breadcrumbs">
      <div class="breadcrumbs-icon">
        <a class="breadcrumbs-icon--link" href="/">
          <img src="../../../../assets/img/home-icon.svg" alt="">
        </a>
        <span class="css-rhmj3t">&gt;</span>
      </div>
      <div class="breadcrumbs-name">
        <a href="/">Order</a>
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Order ID</th>
          <th scope="col">Total</th>
          <th scope="col">Status</th>
          <th scope="col">Order Date</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of orderList; index as i">
          <th scope="row">{{i}}</th>
          <td>{{item._id}}</td>
          <td>{{item.totalPrice | currency: "AUD"}}</td>
          <td>{{item.status}}</td>
          <td>{{item.createdAt | date:'medium'}}</td>
          <td  >
            <a  (click)="getOrderDetail(item._id)">Detail</a>
          </td>
        </tr>

      </tbody>
    </table>
  </div>

</section>
