.banner {
  margin-top: 30px;
  .container {
    max-width: 1247px;
    margin: 0 auto;
    .banner__first {
      margin-bottom: 30px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;

      &-img {
        // position: absolute;
        position: relative;
        display: inline-block;
        border-radius: 8px;
        overflow: hidden;

        .banner__first-link {
          overflow: hidden;
          img {
            border-radius: 8px;
            width: 100%;
            height: 100%;
            display: block;
            transition: all 0.3s ease !important;
            &:hover {
              transform: scale(1.07);
            }
          }
        }
      }
    }
    .banner__content {
      margin-bottom: 30px;
      background-color: #fff;
      padding-left: 1rem;
      padding-right: 1rem;
      border-radius: 8px;
      h5 {
        line-height: 28px;
        font-weight: 700;
        padding: 20px 0;
      }
      // height: 3.5rem;

      .banner__brand {
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        &-img {
          border-radius: 8px;
          overflow: hidden;
          // transform: 0.5s ease 0s;
          a img {
            width: 100%;
            height: 140px;
            transition: all 0.3s ease !important;
            &:hover {
              transform: scale(1.07);
            }
          }
          a p{
            font-size: 15px;
            color: #000;
            text-align: center;
            font-weight: 500;
            margin-top: 1rem;
          }
        }
      }
    }
    .banner__second {
      margin: 20px 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 15px;

      &-img {
        // position: absolute;
        position: relative;
        display: inline-block;
        border-radius: 8px;
        overflow: hidden;

        .banner__second-link {
          overflow: hidden;
          img {
            border-radius: 8px;
            width: 100%;
            height: 100%;
            display: block;
            transition: all 0.3s ease !important;
            &:hover {
              transform: scale(1.07);
            }
          }
        }
      }
    }
  }
}
