<section class="banner">
  <div class="container">
    <div class="banner__first">
      <div class="banner__first-img">
        <a href="" class="banner__first-link"><img src="../../../../assets/img/gaming.webp" alt=""></a>
      </div>
      <div class="banner__first-img">
        <a href="" class="banner__first-link"><img src="../../../../assets/img/sale.webp" alt=""></a>
      </div>
    </div>
    <div class="banner__content">
      <h5>Featured brands</h5>
      <div class="banner__brand">
        <div class="banner__brand-img">
          <a href="" class="banner__first-link">
            <img src="../../../../assets/img/asus.webp" alt="">
            <p>Asus</p>
          </a>

        </div>
        <div class="banner__brand-img">
          <a href="" class="banner__first-link">
            <img src="../../../../assets/img/micro.webp" alt="">
            <p>Microsoft</p>
          </a>
        </div>
        <div class="banner__brand-img">
          <a href="" class="banner__first-link">
            <img src="../../../../assets/img/hp.webp" alt="">
            <p>HP</p>
          </a>
        </div>
        <div class="banner__brand-img">
          <a href="" class="banner__first-link">
            <img src="../../../../assets/img/legion.webp" alt="">
            <p>Lenovo</p>
          </a>
        </div>
      </div>
    </div>
    <div class="banner__second">
      <div class="banner__second-img">
        <a href="" class="banner__second-link"><img src="../../../../assets/img/ss.webp" alt=""></a>
      </div>
      <div class="banner__second-img">
        <a href="" class="banner__second-link"><img src="../../../../assets/img/savepv.webp" alt=""></a>
      </div>
      <div class="banner__second-img">
        <a href="" class="banner__second-link"><img src="../../../../assets/img/saveOcung.webp" alt=""></a>
      </div>
    </div>
  </div>

</section>
