<div *ngIf="isLoading" class="loading">
  <app-loadding></app-loadding>
</div>
<!-- <p>{{isLoading}}</p> -->
<!-- <p>{{elementsOptions?.clientSecret}}</p> -->
<div class="stripe" *ngIf="!isLoading">
  <h2>Card Infomation</h2>
  <div class="owner__name">
    <span>Owner name</span>
    <br>
    <input class="form-control" type="text"  [(ngModel)]="ownerName">
  </div>

  <div >
    <ng-container *ngIf="elementsOptions?.clientSecret as clientSecret ">
      <ngx-stripe-payment [clientSecret]="clientSecret">

      </ngx-stripe-payment>
      <button mat-raised-button color="primary" (click)="pay()" mat-dialog-close>Checkout</button>
    </ng-container>



  </div>

</div>
