<footer>
  <div class="footer__top">
    <div class="container">
      <div class="footer__top-content">
        <div class="footer__top-item">
          <h6>Customer support</h6>
          <div class="footer__top-item-info">
            <a href="">Preferential card</a>
            <a href="">Service Center</a>
            <a href="">Payment and delivery</a>
            <a href="">Repair and maintenance service</a>
            <a href="">Friendly business</a>
          </div>
        </div>
        <div class="footer__top-item">
          <h6>Purchase policy and warranty</h6>
          <div class="footer__top-item-info">
            <a href="">General rules</a>
            <a href="">Information privacy policy</a>
            <a href="">Shipping and Installation Policy</a>
            <a href="">Warranty Policy</a>
            <a href="">Return and Refund Policy</a>
            <a href="">Pricing and form regulations</a>
            <a href="">Installment Policy</a>
          </div>
        </div>
        <div class="footer__top-item">
          <h6> Phong Vu Information</h6>
          <div class="footer__top-item-info">
            <a href="">About</a>
            <a href="">Contact Info</a>
            <a href="">Showroom system
            </a>
            <a href="">Q&A</a>
            <a href="">Tech news</a>
            <a href="">Recruit</a>
          </div>
        </div>
        <div class="footer__top-item">
          <h6>Phong Vu Community</h6>
          <div class="footer__top-item-info">
            <a href="">
              <img src="../../../assets/img/4a245cee42ae6bbb.png" alt="">
              Phong Vu VietNam
            </a>
            <a href="">
              <img src="../../../assets/img/2d3d889a92325278.png" alt="">
              Phong Vu Media</a>
            <a href="">
              <img src="../../../assets/img/c71967f1b568ff35.png" alt="">
              Phong Vu group</a>
            <a href=""><img src="../../../assets/img/f5ca93aa40fe18ed.svg" /> <span> Call to buy: <span
                  style="color: rgb(218, 67, 67); font-weight: bold;">1800 6867</span> (miễn
                phí)</span></a>
            <a href=""><img src="../../../assets/img/f5ca93aa40fe18ed.svg" /> <span> Call care: <span
                  style="color: rgb(218, 67, 67); font-weight: bold;">1800 6865</span> (miễn
                phí)</span></a>
          </div>
        </div>
        <div class="footer__top-item">
          <h6>Contact email</h6>
          <div class="footer__top-item-info">
            <a href="mailto:cskh@phongvu.vn">Customer support: <br><span
                style="color: rgb(13, 110, 253);">cskh@phongvu.vn</span></a>
            <a href="mailto:baogia@phongvu.vn">Contact for quotation:<br><span
                style="color: rgb(13, 110, 253);">baogia@phongvu.vn</span></a>
            <a href="mailto:hoptac@phongvu.vn">Development cooperation:<br><span
                style="color: rgb(13, 110, 253);">hoptac@phongvu.vn</span></a>
          </div>
        </div>

      </div>
      <div class="footer__top-payment">
        <div class="footer__top-payment-left">
          <h6>Payment methods</h6>
          <div class="footer__top-payment-content">
            <a class="footer__top-payment-item">
              <img src="../../../assets/img/7534c48e46ec507e.svg" alt="">
              <p>QR code</p>
            </a>
            <a class="footer__top-payment-item">
              <img src="../../../assets/img/0e924ede5a93187b.svg" alt="">
              <p>Cash</p>
            </a>
            <a class="footer__top-payment-item">
              <img src="../../../assets/img/b2c29b7046b45840.svg" alt="">
              <p>Installment</p>
            </a>
            <a class="footer__top-payment-item">
              <img src="../../../assets/img/abf02ec95226fd05.svg" alt="">
              <p>Internet Banking</p>
            </a>
          </div>

        </div>
        <div class="footer__top-payment-right">
          <h6>List of online payment banks</h6>
          <img src="../../../assets/img/banklist.jpg" />
        </div>
      </div>
    </div>

  </div>

  <div class="footer__bottom">
    <div class="container">
      <div class="footer__bottom-item">
        <h6>PHONG VU TRADING - SERVICE JOINT STOCK COMPANY</h6>
        <div>
          <p class="text" style="margin-right: 10px">© 1997 - 2020 Phong Vu Trading - Service Joint Stock Company<br>Certificate of Business
            Registration
            career: 0304998358 first issued by the Department of Planning and Investment of Ho Chi Minh City on May 30,
            2007
          </p>
        </div>
      </div>
      <div class="footer__bottom-item  text">
        <div class="footer__bottom-address text">
          <span>Head office address:</span>
          <p>5th Floor, No. 117-119-121 Nguyen Du, Ben Thanh Ward, District 1, Ho Chi Minh City</p>
        </div>
        <div class="footer__bottom-address">
          <span>Northern Executive Office:</span>
          <p>Floor 6, No. 1 Thai Ha Street, Trung Liet Ward, Dong Da District, Hanoi</p>
        </div>
        <div class="footer__bottom-address">
          <span>Southern Executive Office:</span>
          <p>11th floor Minh Long Tower, No. 17 Ba Huyen Thanh Quan, Vo Thi Sau Ward, District 3, City. Ho Chi Minh</p>
        </div>
      </div>
      <div class="footer__bottom-item" style="width: 20%">
        <a href=""><img src="../../../assets/img/da-dang-ky.png" alt=""></a>
        <a href=""><img src="../../../assets/img/dmca-badge-w100-2x1-02.png" alt=""></a>
      </div>

    </div>
  </div>

</footer>
